.ipynb_checkpoints/
.idea/*
.idea
work
.draw/*
.DS_Store
.DS_Store/
.DS_Store/*
temp
venv
idea/*
python/.idea/*
python/.idea/
idea
venv/*
.zshrc
*.zip
*.rar
*.iml
~$*
*.~
*.csv
*.xls
*.xlsx
.xls
.xlsx
last_msg.txt
.debris
Icon
.megaignore